* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

/* Color palette*/
/*
    https://huemint.com/back-gradient-2/#palette=6ae3f1-fffcfa-ffa3a3
    primary = #1baeb5 - cyan
    secondary = #fffcfa - white
    tertiary = #ffa3a3 - pink 
*/
a{
    text-decoration: none;
    color: #fffcfa;
}
a:hover{
    color: #ffa3a3;
    /* font-weight: 700; */
}
li{
    list-style: none;
}

body{
    position: relative;
    background-image: url(/asset/images/marc-doucakis-IhXYfHEbN5c-unsplash.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
}
nav{
    width: 100%;
    max-width: 1200px;
    height: 84px;
    padding: 0 2rem;
    /* backdrop-filter: blur(3px); */
    margin: 0 auto;
}
.my-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.logo{
    font-size: 3rem;
    font-weight: 900;
}
.point{
    color: #ffa3a3; 
    font-size: 4rem;
}
.button-connection{
    padding: 8px 10px;
    border: #fffcfa solid 1px;
    border-radius: 5px;
}
.button-searchform{
    padding: 8px 40px;
    border: #fffcfa solid 1px;
    border-radius: 5px;
}
.button-connection:hover{
    border: #ffa3a3 solid 1px;
}
.button-connection:hover a{
    color: #ffa3a3;
}
.button-searchform:hover{
    background-color: #1baeb5;
}
.button-searchform:hover a{
    color: #fffcfa;
}


.burger-menu-button{
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: #fffcfa;
}
.my-burger-menu{
    display: none;
}

/* Main */
.card-text{
    text-align: justify;
}

.card-price{
    color: #ffa3a3;
}
.my-searchform{
    width: 80%;
    margin-top: 140px;
    padding: 20px;
    background-color: #ffa3a3e1;
    gap: 10px;
    border-radius: 10px;
}



/* ------ Responsive -------- */
@media (max-width: 990px){
    /* header{
        background: none;
    } */
    .my-navbar .my-links,
    .my-navbar .button-connection{
        display: none;
    }
    .my-navbar .burger-menu-button{
        display: block;
    }
    .my-burger-menu{
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        overflow: hidden;
        /* backdrop-filter: blur(3px); */
    }
    .my-burger-menu.open{
        height: 220px;
    }
    .my-burger-menu .my-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
    }
    .my-divider{
        border-top: #fffcfa solid 1px;
        width: 30%;
        margin: 10px auto 20px auto;
    } 
    .baseline h1{
        font-size:1.6rem;
    } 
    .my-searchform{
        width: 80%;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
    }  
}